.contacts {

}

.contacts__title {
  .reset;
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
}

.contacts__text {
  .reset;
  font-size: 18px;
  line-height: 27px;
}

.contacts__phone {
  .reset;
  color: #ffffff;
  font-weight: 700;
}

.contacts__phone-mobile {

}

