.news {

  background-color: #f8f5f2;
  color: #000000;
}

.news__title {
  .reset;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.news__list {
  .reset;
}

.news__item {

}

.news__time {

}

.news__day {

}

.news__text {
  .reset;
  font-size: 18px;
  line-height: 27px;

}

.news__show-all {
  .reset;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  text-align: center;
  margin: auto;

  color: #000000;
  border: 1px solid #d5c9bd;
}

.news__show-all:active {
  background-color: #d5c9bd;
  color: rgba(0, 0, 0, 0.3);
}
