.site-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.site-list__item {
  background-color: #826550;

  & a {
    color: #ffffff;
  }

  & a:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:hover {
    background-color: #755a46;
  }

  &:active {
    background-color: #6a4d38;
    color: rgba(255, 255, 255, 0.3);
  }
}

.site-list__item--active {

}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    width: 570px;
  }

  .site-list__item {
    background-color: #000000;

    &:hover {
      background-color: #000000;
    }

    & a:hover {
      color: #826550;
    }

    &:active {
      background-color: #000000;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 780px;
  }
}
