.site-list {
  list-style: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.site-list__item {

}

.site-list__item a {
  color: #ffffff;
}

.site-list__item--active {

}
