.site-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.site-list__item {


  & a {
    color: #ffffff;
    background-color: #826550;

    border-top: 1px solid #886e5b;
    border-bottom: 1px solid #71543f;

    display: block;
    padding: 12px 21px;
    padding-bottom: 13px;
  }

  & a[href]:hover {
    background-color: #755a46;
    border-top-color: #755a46;
  }

  & a[href]:active {
    background-color: #6a4d38;
    border-top-color: #6a4d38;
    color: rgba(255, 255, 255, 0.3);
  }
}

.site-list__item--active {

}

@media (min-width: @tablet-width) {
  .site-list {
    width: 570px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .site-list__item {
    margin-right: 32px;
    background-color: #000000;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;

        height: 3px;
        background: #826550;
      }
    }

    & a {
      padding: 0;
      padding-top: 25px;
      padding-bottom: 23px;
      background: none;
      border: none;
    }

    & a:hover {
      color: #826550;
      background-color: #000000;
      background: none;
      border: none;
    }

    & a:active {

    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 780px;
  }
}
