.user-list {

  font-size: 18px;
  line-height: 24px;
}

.user-list__item {

}

.user-list__login {
  position: relative;

  display: block;
  padding: 17px 21px;
  padding-left: 49px;

  line-height: 18px;

  color: #ffffff;

  &:hover {
    background-color: #755a46;
  }

  &:active {
    background-color: #6a4d38;
    color: rgba(255, 255, 255, 0.3);
  }
}

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;

  width: 16px;
  height: 16px;

  opacity: 0.3;

  polygon {
    fill: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .user-list {
    width: 60px;
  }

  .user-list__item {
    background-color: #000000;

    &:hover {
      background-color: #000000;
    }

    & a:hover {
      color: #826550;
    }

    &:active {
      background-color: #000000;
    }
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    width: 160px;
  }
}
